body {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(11, 90, 143);
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
}

.gamePuxde {
    background-color: aqua;
    width: 1200px;
    height: 800px;
}